/*----------------Оформление от Malinka----------------*/
/*----- Курсор -----*/
.body-bg-8,
.wp-block.default {
  cursor: url("https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/a205e14d92011e14.png?v=1707976771724"),
    default;
}

/*----- Шрифты -----*/
@font-face {
  /*Шрифт для подписи Сырорерзки*/
  src: url("https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/Kill-Switch-Cyr_0.ttf?v=1707755646149");
  font-family: mow1;
}

@font-face {
  /*Шрифт для заголовков h2 - дата, доп заголовки, комментировать*/
  src: url("https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/rumraisincyrillic.otf?v=1707755646607");
  font-family: mow2;
}

@font-face {
  /*Шрифт для рукописного текста врезки МИА*/
  src: url("https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/segoescript.ttf?v=1707755647120");
  font-family: mow3;
}

@font-face {
  /*Шрифт для выделения ников*/
  src: url("https://cdn.glitch.global/b3e68faa-873e-4c9f-b0e4-8b1a287d6f5a/prestige-normal_%5Ballfont.ru%5D.ttf?v=1660986441745");
  font-family: mow4;
}

@font-face {
  /*Шрифт для заголовков МИА, транскрипции, карты, подрис.подписей, анонса и концовки */
  src: url("https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/zai%20Triumph%20Typewriter%20Regular.ttf?v=1707885275330");
  font-family: mow5;
}

@font-face {
  /*Шрифт для основного текста*/
  src: url("https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/ofont.ru_Candara.ttf?v=1707886185353");
  font-family: mow6;
}

@font-face {
  /*Шрифт для Запись-Вещатель и названия сюжета*/
  src: url("https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/ofont.ru_Impact.ttf?v=1707761081314");
  font-family: mow7;
}

/*---------------------------------------------------------*/
/*----- Основное оформление страницы -----*/
.body-bg-8,
body {
  /*Основной фон страницы*/
  background-image: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/Untit%D0%BC%D0%B8%D0%BC%D0%B2%D1%8Bled-1.png?v=1707976770609) !important;
  background-size: 50% !important;
  background-repeat: repeat !important;
  background-color: #c97744 !important;
}

.bg-base-img {
  /*Невидимость*/
  background: #0000;
}

.post {
  /*Главный блок контента*/
  background: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/%D0%BE%D0%B1%D1%80%D0%B5%D0%B7%D0%BA%D0%B8.png?v=1707890032311),
    url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/copy.png?v=1707976771341),
    url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/f6fde9ac7fccfaae.jpg?v=1707755645582) !important;
  background-repeat: no-repeat, no-repeat, repeat-y !important;
  background-size: contain !important;
  background-position-y: top, bottom !important;
  box-shadow: 0 0 10px 10px #832f0761;
  border: 8px solid #cf6920 !important;
  width: 1090px !important;
}

.container.auto, /*Убрать все отступы*/
                                .figure.wp-block-body {
  padding: 0 !important;
}

/*---------------------------------------------------------*/
/*----- Название отчета -----*/
h2.article-title {
  width: 40%;
  margin: 60px 0 50px 30px !important;
  text-align: left;
  font-family: "mow5";
  color: #e1834a !important;
}

/*----- Сюжеты -----*/
h2:nth-of-type(2) {
  /*Убрать заголовок*/
  display: none;
}

.col-md-12 .info-list {
  background-color: #ff9c60 !important;
  border: 5px dashed #a16d568a;
  transform: rotate(359deg);
  padding: 7px 0;
  text-align: center;
}

.col-md-12 .info-list .item {
  font-family: mow7;
  color: #fbf1d9;
  letter-spacing: 2px;
}

.col-md-12 .info-list .item:hover {
  color: red;
}

/*----- Участники -----*/
.binded-chars .wp-block-body {
  /* background-image: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/1.jpg?v=1707755642931) !important; */
  position: relative;
  left: -390px;
  top: 17px;
}

.binded-chars h2 {
  height: 50px !important;
  background: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/Pangolin_Regular_400.png?v=1707976909506)
    no-repeat !important;
  background-size: 60% !important;
  background-position-x: right !important;
  margin-top: 50px !important;
  text-align: right;
  color: #00ffff00;
}

.binded-chars {
  text-align: center;
}

.binded-chars a {
  margin: 5px;
}

.binded-chars a:nth-of-type(2n) img {
  border-radius: 0px;
  transform: rotate(-5deg);
}

.binded-chars a:nth-of-type(2n + 1) img {
  border-radius: 25px;
  transform: rotate(5deg);
}

.binded-chars img {
  filter: grayscale(0.75) sepia(100%);
  transition: 0.5s !important;
  margin: 10px;
  outline: 3px dashed #c1671a;
}

.binded-chars img:hover {
  filter: grayscale(0.5) saturate(300%);
  transform: rotate(0deg) !important;
}

/*----- Информация об авторе -----*/
.wp-block.article.post .meta-info {
  margin: 15px;
}

/*----Лайк основной---*/
.col-sm-2 i.fa.fa-thumbs-o-up.fa-2,
.col-sm-2 i.fa.fa-3.fa-thumbs-o-up {
  content: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/1123547-2.png?v=1707890375360);
  height: 100px;
}

.col-sm-2 i.fa.fa-2.fa-thumbs-up,
.col-sm-2 i.fa.fa-thumbs-up.fa-3 {
  content: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/1123547.png?v=1707890375802);
  height: 100px;
}

.col-sm-2 span.badge.like-num {
  background: #ff8800 !important;
  color: #000000;
}

.col-sm-2 span.like-num {
  color: #e1c7a6;
}

.col-sm-2 span.badge.like-num {
  background: #ff8800 !important;
  color: white;
  margin-top: -89px;
  margin-right: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-top: 9px;
  font-weight: bold;
}

/*----Лайк в комментариях---*/
span.comment-meta-left i.fa.fa-thumbs-o-up.fa-2,
span.comment-meta-left i.fa.fa-3.fa-thumbs-o-up,
span.comment-meta-left i.fa.fa-2.fa-thumbs-up,
span.comment-meta-left i.fa.fa-thumbs-up.fa-3,
span.comment-meta-left span.like-num,
li.comment span.like-num {
  color: #ff8800 !important;
}

/*---------------------------------------------------------*/
/*Заголовки*/
h2.date,
h2.title_text,
.comment-list .comment-count,
a#parent-comment {
  font-family: mow2;
  font-weight: 300;
  color: #e1834a;
}

h2.date {
  margin-top: 50px !important;
}

p.titt,
p.mia {
  color: #aa6d47 !important;
  font-family: mow5 !important;
  margin-bottom: 5px;
  text-shadow: 0 -3px 0 #fff1ce, 0 -3px 0 #fff1ce, 0 3px 0 #fff1ce,
    0 3px 0 #fff1ce, -3px 0 0 #fff1ce, 3px 0 0 #fff1ce, -3px 0 0 #fff1ce,
    3px 0 0 #fff1ce, -1px -3px 0 #fff1ce, 1px -3px 0 #fff1ce, -1px 3px 0 #fff1ce,
    1px 3px 0 #fff1ce, -3px -1px 0 #fff1ce, 3px -1px 0 #fff1ce,
    -3px 1px 0 #fff1ce, 3px 1px 0 #fff1ce, -2px -3px 0 #fff1ce,
    2px -3px 0 #fff1ce, -2px 3px 0 #fff1ce, 2px 3px 0 #fff1ce,
    -3px -2px 0 #fff1ce, 3px -2px 0 #fff1ce, -3px 2px 0 #fff1ce,
    3px 2px 0 #fff1ce, -3px -3px 0 #fff1ce, 3px -3px 0 #fff1ce,
    -3px 3px 0 #fff1ce, 3px 3px 0 #fff1ce, -3px -3px 0 #fff1ce,
    3px -3px 0 #fff1ce, -3px 3px 0 #fff1ce, 3px 3px 0 #fff1ce;
}

h2.title_text {
  /*Дополнительный заголовок*/
  margin: 30px 0 15px 0 !important;
}

.comment-list .comment-count,
a#parent-comment {
  color: #492b16;
}

p.titt.t_img {
  width: 70%;
  margin: 0 auto -10px;
  text-align: right;
}

/*Картинки*/
.map_img img,
.paper img,
.dop_img img {
  margin: 0 auto !important;
  border: 10px solid #fff1ce;
  box-shadow: 0 0 18px 0px #0000003b;
  filter: grayscale(0.3);
}

.paper.img {
  text-align: center;
  background: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/pattern2.png?v=1707889369260);
  background-size: 52%;
  margin: 20px -50px;
  background-repeat: repeat-x;
  background-position-y: center;
  transform: rotate(-1deg);
  margin-bottom: 3rem;
}

.paper img {
  width: 84% !important;
  box-shadow: 0 0 3px 2px #0000003b;
}

/*----------------Внутреннее наполнение--------------------*/
/*----- Шапка текста -----*/
.head_paper,
.footer_paper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 50px;
  height: 510px;
}

/*----- Анонс -----*/
.anons {
  width: 50%;
  margin-bottom: 30px;
}

.anons h2.date {
  margin: 0 !important;
}

.anons_text {
  min-height: 300px;
  margin-top: 20px;
}

.anons_text p,
.footer_text p,
.pause p {
  margin: 0 0 1rem;
  font-family: "mow5";
  color: #b3683a;
}

p.avt {
  transform: rotate(348deg);
  margin: 0 0 0 130px !important;
  width: 250px;
  text-align: right;
  font-family: mow1;
  color: #e1834a !important;
  /* position: relative; */
  /* left: 130px; */
  /* top: 100px; */
}

/*----- Карта -----*/
.map {
  float: right;
  width: 50%;
  text-align: center;
  padding-left: 20px;
  margin-bottom: 30px;
}

.map p.titt {
  transform: rotate(5deg);
}

img.imm {
  height: 250px;
  width: 250px !important;
  position: absolute !important;
  margin: -85px 0 0 -304px !important;
}

.map_img {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.map_img img {
  width: 450px !important;
  height: auto;
  transform: rotate(5deg);
}

.map_only,
.pause {
  width: 100%;
  padding: 0 20%;
  margin: 15px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.map_only p.titt,
.pause p {
  width: 80%;
  margin-bottom: 10px;
}

.map_only img.imm,
.pause img.imm {
  width: auto !important;
  height: 70px;
  max-width: 20% !important;
  margin: 0 15px 0 0 !important;
  float: left !important;
  position: relative !important;
}

.map_only p {
  transform: rotate(0deg) !important;
}

.map_only .map_img img {
  transform: none;
  width: 400px !important;
}

/*----------------------------------------------------------*/
/*-------------Основной текст---------------*/
/*Основной контейнер*/
.chapter {
  padding: 0 50px;
}

/*Список игроков*/
.player {
  background: none;
}

ul.players {
  text-align: center;
  margin: 0 -50px 30px -50px;
  border-top: 5px dashed #a16d568a;
  border-bottom: 5px dashed #a16d568a;
  padding: 18px 90px;
}

.players > li,
.npc > li {
  display: inline-block;
  margin-right: 0.3em;
  font-weight: bold;
}

.chapter li {
  font-family: mow4;
}

:root {
  --red: #dc6864;
  --green: #4fa974;
  --blue: var(--blue-3);
  --blue-1: #38be96;
  --blue-2: #6aa3c3;
  --blue-3: #557dac;
  --yellow: #dcb800;
  --orange: #d3902e;
  --purple: var(--purple-1);
  --purple-1: #5c52a3;
  --purple-2: #9b76ee;
  --purple-3: #936bbc;
  --whisper: #e186e1;
  --grey: #808080;
  --light-grey: #c2c2c2;
  --dark-grey: #434343;
  --black: #212121;
  --emote: var(--orange);
  --text-color: #7f5146;
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.blue-1 {
  color: var(--blue-1);
}

.blue-2 {
  color: var(--blue-2);
}

.blue-3,
.blue {
  color: var(--blue-3);
}

.yellow {
  color: var(--yellow);
}

.orange {
  color: var(--orange);
}

.purple-1,
.purple {
  color: var(--purple-1);
}

.purple-2 {
  color: var(--purple-2);
}

.purple-3 {
  color: var(--purple-3);
}

/*Основной текст*/
.chapter span.speech,
.dop_img p,
.chapter > p:not([class]),
.paper {
  color: var(--text-color);
  font-family: "mow6";
  font-weight: normal;
}

.say > .player {
  font-weight: 700;
  font-family: mow4;
}

.emote {
  color: var(--emote);
  text-transform: none;
  /* font-weight: 700; */
  font-family: "mow6";
  /* font-style: italic; */
}

p.story .speech {
  color: var(--emote) !important;
  font-weight: 700;
  font-family: "mow6";
  font-style: italic;
}

.yell span.speech {
  color: var(--red) !important;
  font-weight: bold;
  text-transform: uppercase;
}

.yell .player {
  /* color: var(--red); */
  font-weight: bold;
  /* font-family: "mow4"; */

  /* text-transform: uppercase; */
}

/*----------- ВРЕЗКА - МИА -----------*/
.content > .mia {
  padding-left: 28%;
  height: 170px;
  background: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/af2b6272a0826c20.png?v=1707755644976)
    no-repeat;
  background-position-x: 19%;
}

.content > .mia ~ .mia {
  background: none;
  height: auto;
  padding: 0;
  margin-top: 15px;
}

p.mia {
  margin-left: 30px;
  margin-bottom: 0px;
}

.content > .transcript ~ .transcript {
  margin: 0 0 10px;
  padding: 20px 30px 25px;
}

.transcript {
  border: 6px double #860;
  border-image-source: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/%D0%BE%D0%B1%D1%80%D1%8B%D0%B2%D0%BE%D0%BA.png?v=1707759623528);
  border-image-slice: 30 30 30 fill;
  border-image-repeat: stretch repeat;
  border-image-width: 20px 20px 20px;
  /* margin: 0 20px 20px; */
  padding: 15px 30px 20px;
}

.record {
  background: #faecca;
  border-radius: 8px;
  width: 100%;
  float: left;
  padding: 5px 8px;
  margin-bottom: 5px;
}

.record p {
  float: left;
  font-family: mow7;
  color: #9f8473;
  width: 50%;
  margin: 0px;
}

.record p span {
  font-family: "mow3";
  margin-left: 5px;
  margin-right: 30px;
  padding: 0 25px;
  color: #312f2d;
}

.transcript .speech,
.paper .speech {
  font-family: "mow5";

  color: var(--text-color);
  display: block;
}

.mia_img_tr {
  margin-left: 30% !important;
  margin-top: -149px !important;
}

.mia_img_tit {
  padding-left: 28% !important;
  height: 170px !important;
  background: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/af2b6272a0826c20.png?v=1707755644976)
    no-repeat !important;
  background-position-x: 19% !important;
}

/*по старому варианту оформления врезок - без записи*/
.chapter .paper:not(.img) {
  border: 6px double #860;
  border-image-source: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/%D0%BE%D0%B1%D1%80%D1%8B%D0%B2%D0%BE%D0%BA.png?v=1707759623528);
  border-image-slice: 30 30 30 fill;
  border-image-repeat: stretch repeat;
  border-image-width: 20px 20px 20px;
  margin: 0 20px 20px;
  padding: 3rem;
  transform: rotate(1deg);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.paper.logline.say.selected .speech {
  display: inline;
}

/*ПОДСКАЗКА ПРИ НАВЕДЕНИИ*/
.hint {
  color: #394179;
  cursor: pointer;
  font-weight: bold;
  font-family: "mow6";
  margin-bottom: 10px;
  display: inline-block;
}

.hint:hover {
  color: #f16565;
}

.hint:hover > .text,
hint > .text:hover {
  visibility: visible;
}

.hint .text p {
  color: #41301b;
  font-family: "mow6";
  margin-bottom: 10px;
}

.hint .text h6 {
  font-family: mow2;
  font-weight: 300;
  color: #e1834a;
  margin-bottom: 15px;
}

.hint > .text {
  position: absolute;
  min-width: 40em;
  transition: all 0.3s;
  visibility: hidden;
  padding: 1rem;
  color: #8b3f10;
  z-index: 1;
  cursor: initial;
  box-shadow: var(--shadow);
  font-weight: normal;
  max-width: 700px;
  background: #f5e5c7 !important;
  border: 3px solid #cf6920;
  box-shadow: 0 0 4px 0px #9350208a !important;
  padding: 15px;
}

.hint > .text img {
  width: 100%;
  margin: 10px 0 !important;
}

/*Заключение*/
.footer_paper .col-md-12 .info-list {
  margin: 15px -70px;
  transform: rotate(1deg);
}

.footer_paper {
  justify-content: flex-end;
  margin: 20px 0 0 0;
}

.wp-block.article.post .meta-info {
  margin: 15px;
}

.footer_text {
  width: 80%;
  text-align: right;
  margin-top: 20px;
  height: 0px;
}

/*Дополнительная мини-картинка с описанием и заголовком*/
.dop_img {
  min-height: 250px;
  width: 250px;
  float: right;
  padding: 15px;
  text-align: center;
  margin: 15px -55px 15px 15px;
  border: 5px dashed #dd9050;
}

.dop_img img {
  margin: 15px 0 !important;
  transform: rotate(357deg);
  max-height: 210px;
  width: auto !important;
}

.dop_img p {
  text-align: center;
}

.dop_img.left {
  float: left;
  margin: 15px 15px 15px -55px;
}

.chapter u {
  text-decoration: none;
  border-bottom: 3px dashed #dd9050;
}

/*Врезки с лирическим отступлением*/
.pause {
  width: 100%;
  padding: 0 5%;
  text-align: left;
  margin: 35px 0;
}

.map_img.two {
  position: relative;
  top: 43px;
  transform: rotate(333deg) scale(0.8);
  left: -280px;
}

.map_img.three {
  position: relative;
  top: -540px;
  left: 20px;
  transform: rotate(-16deg);
}

/* Дополнения */
.col-sm-2 {
  position: absolute;
  top: 644px;
  right: 20px;
}

h2.date span.title {
  display: block;
  width: 460px;
}

.paper.img.three {
  width: fit-content;
}

.paper.img.two {
  width: fit-content;
  position: absolute;
  transform: scale(0.6) rotate(-24deg) scaleX(-1);
  bottom: -228px;
  left: 202px;
}

.paper.img.three {
  transform: rotate(37deg) scale(0.7);
  position: absolute;
  left: -61px;
  top: -188px;
  z-index: 20;
}

.wrapper {
  height: fit-content;
  width: fit-content;
  position: relative;
}

.paper.img.one {
  transform: rotate(-26deg);
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 470px;
  top: -110px;
}

.paper.img.one img {
  object-fit: cover;
  width: 520px;
  height: 420px;
}

.wrapper.one {
  height: 749px;
  width: 100%;
  margin-top: 180px;
  margin-bottom: 110px;
}

.paper .player {
  margin-bottom: -1rem;
}

.paper.img.left {
  width: fit-content;
  float: left;
  margin-right: 1rem;
  margin-top: 0;
}

.paper.img.right {
  width: fit-content;
  float: right;
  margin-left: 1rem;
  margin-top: 0;
}

.paper.img.three {
  width: fit-content;
}

.paper.img.two {
  width: fit-content;
  position: absolute;
  transform: scale(0.6) rotate(16deg) scaleX(-1);
  bottom: -59px;
  left: -63px;
}

.paper.img.three {
  transform: rotate(37deg) scale(0.7);
  position: absolute;
  left: -61px;
  top: -188px;
  z-index: 20;
}

.wrapper {
  height: fit-content;
  width: fit-content;
  position: relative;
}

.paper.img.one {
  transform: rotate(-26deg);
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 470px;
  top: -110px;
}

.paper.img.one img {
  object-fit: cover;
  width: 520px;
  height: 420px;
}

.wrapper.one {
  height: 749px;
  width: 100%;
  margin-top: 180px;
  margin-bottom: 110px;
}

.paper .player {
  margin-bottom: -1rem;
}

.paper.img.left {
  width: fit-content;
  float: left;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transform: rotate(-5deg);
}

.paper.img.right {
  width: fit-content;
  float: right;
  margin-left: 1rem;
  margin-top: 0;
  transform: rotate(5deg);
  margin-top: 2rem;
  margin-bottom: 3rem;
  position: relative;
  left: -22px;
  margin-left: 2rem;
}

.wp-block.default.no-border.binded-chars {
  height: 170px;
}

.wp-block.default.no-border.binded-chars h2 {
  display: none;
}

.emote > span.speech {
  font-style: normal;
  font-weight: 100;
}

.col-md-12 {
  height: fit-content;
}

.footer_paper {
  /* gap: 1rem; */
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 330px;
}

h2.article-title {
  display: none !important;
}

p.mia {
  display: none;
}

p.logline {
  margin: 1rem 0;
  color: var(--emote);
  font-family: "mow6";
  /* font-weight: bold; */
}

.paper.say:nth-of-type(2n) {
  transform: rotate(-2deg) !important;
}

.yell .say {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--red);
}

.content > *:not(.selected) {
  filter: saturate(0);
}
