.remove {
  background: #ff000047;
}

.start_wrap {
  background: green;
}

.finish_wrap {
  background: red;
}

.virt > .emote,
.whisper {
  color: var(--whisper) !important;
}

.content > .logline:not(.selected, .paper, :hover, .remove) {
  opacity: 0.5;
  filter: saturate(0);
}