/* Сырорезка */

body,
.post {
  cursor: url("https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/a205e14d92011e14.png?v=1707976771724"),
    auto !important;
}

.post {
  background: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/%D0%BE%D0%B1%D1%80%D0%B5%D0%B7%D0%BA%D0%B8.png?v=1707890032311),
    url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/copy.png?v=1707976771341),
    url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/f6fde9ac7fccfaae.jpg?v=1707755645582) !important;
  background-repeat: no-repeat, no-repeat, repeat-y !important;
  background-size: contain !important;
  background-position-y: top, bottom !important;
  box-shadow: 0 0 10px 10px #832f0761;
  border: 8px solid #cf6920 !important;
  width: 1090px !important;
}

.container.auto,
.figure.wp-block-body {
  padding: 0 !important;
}

h2.article-title {
  width: 40%;
  margin: 60px 0 50px 30px !important;
  text-align: left;
  font-family: "mow5";
  color: #e1834a !important;
}

.col-md-12 .info-list,
.post h2.date {
  background-color: #ff9c60 !important;
  border: 5px dashed #a16d568a;
  /* transform: rotate(359deg); */
  /* padding: 7px 0; */
  /* text-align: left; */
  /* padding-left: 9rem; */
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.col-md-12 .info-list .item {
  font-family: mow7;
  color: #fbf1d9;
  letter-spacing: 2px;
  font-size: 2rem;
}

.col-md-12 .info-list .item:hover {
  color: #9d6242;
}

.binded-chars .wp-block-body {
  position: relative;
  left: -390px;
  top: 17px;
}

.binded-chars h2 {
  height: 50px !important;
  background: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/Pangolin_Regular_400.png?v=1707976909506)
    no-repeat !important;
  background-size: 60% !important;
  background-position-x: right !important;
  margin-top: 50px !important;
  text-align: right;
  color: #00ffff00;
}

.binded-chars {
  text-align: center;
}

.binded-chars a {
  margin: 5px;
}

.binded-chars a:nth-of-type(2n) img {
  border-radius: 0px;
  transform: rotate(-5deg);
}

.binded-chars a:nth-of-type(2n + 1) img {
  border-radius: 25px;
  transform: rotate(5deg);
}

.binded-chars img {
  filter: grayscale(0.75) sepia(100%);
  transition: 0.5s !important;
  margin: 10px;
  outline: 3px dashed #c1671a;
}

.binded-chars img:hover {
  filter: grayscale(0.5) saturate(300%);
  transform: rotate(0deg) !important;
}

.wp-block.article.post .meta-info {
  margin-bottom: 3rem;
  margin-left: 3rem;
}

.col-sm-2 i.fa.fa-thumbs-o-up.fa-2,
.col-sm-2 i.fa.fa-3.fa-thumbs-o-up {
  content: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/1123547-2.png?v=1707890375360);
  height: 100px;
}

.col-sm-2 i.fa.fa-2.fa-thumbs-up,
.col-sm-2 i.fa.fa-thumbs-up.fa-3 {
  content: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/1123547.png?v=1707890375802);
  height: 100px;
}

.col-sm-2 span.badge.like-num {
  background: #ff8800 !important;
  color: #000000;
}

.col-sm-2 span.like-num {
  color: #e1c7a6;
}

.col-sm-2 span.badge.like-num {
  background: #ff8800 !important;
  color: white;
  margin-top: -89px;
  margin-right: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-top: 9px;
  font-weight: bold;
  font-size: 2.4rem;
}

span.comment-meta-left i.fa.fa-thumbs-o-up.fa-2,
span.comment-meta-left i.fa.fa-3.fa-thumbs-o-up,
span.comment-meta-left i.fa.fa-2.fa-thumbs-up,
span.comment-meta-left i.fa.fa-thumbs-up.fa-3,
span.comment-meta-left span.like-num,
li.comment span.like-num {
  color: #ff8800 !important;
}

h2.date,
h2.title_text,
.comment-list .comment-count,
a#parent-comment {
  font-family: mow2;
  /* font-weight: 300; */
  /* color: #e1834a; */
}

p.titt,
p.mia {
  color: #aa6d47 !important;
  font-family: mow5 !important;
  margin-bottom: 5px;
  text-shadow: 0 -3px 0 #fff1ce, 0 -3px 0 #fff1ce, 0 3px 0 #fff1ce,
    0 3px 0 #fff1ce, -3px 0 0 #fff1ce, 3px 0 0 #fff1ce, -3px 0 0 #fff1ce,
    3px 0 0 #fff1ce, -1px -3px 0 #fff1ce, 1px -3px 0 #fff1ce, -1px 3px 0 #fff1ce,
    1px 3px 0 #fff1ce, -3px -1px 0 #fff1ce, 3px -1px 0 #fff1ce,
    -3px 1px 0 #fff1ce, 3px 1px 0 #fff1ce, -2px -3px 0 #fff1ce,
    2px -3px 0 #fff1ce, -2px 3px 0 #fff1ce, 2px 3px 0 #fff1ce,
    -3px -2px 0 #fff1ce, 3px -2px 0 #fff1ce, -3px 2px 0 #fff1ce,
    3px 2px 0 #fff1ce, -3px -3px 0 #fff1ce, 3px -3px 0 #fff1ce,
    -3px 3px 0 #fff1ce, 3px 3px 0 #fff1ce, -3px -3px 0 #fff1ce,
    3px -3px 0 #fff1ce, -3px 3px 0 #fff1ce, 3px 3px 0 #fff1ce;
}

h2.title_text {
  margin: 30px 0 15px 0 !important;
}

.comment-list .comment-count,
a#parent-comment {
  color: #492b16;
}

p.titt.t_img {
  width: 70%;
  margin: 0 auto -10px;
  text-align: right;
}

.map_img img,
.paper img,
.dop_img img {
  border: 10px solid #d9c89d;
  .article-image {
    -webkit-mask-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 1) 95%,
      rgba(255, 255, 255, 0) 100%
    );
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top;
    mask-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 1) 95%,
      rgba(255, 255, 255, 0) 100%
    );
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: top;
  }
}

.paper.img {
  text-align: center;
  background: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/pattern2.png?v=1707889369260);
  background-size: 52%;
  background-repeat: repeat-x;
  background-position-y: center;
  transform: rotate(-1deg);
  /* margin-bottom: 3rem; */
  margin: 1.5rem 0;
  /* margin-bottom: 1.5rem; */
}

.head_paper,
.footer_paper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 50px;
  /* height: 510px; */
}

.anons {
  width: 100%;
  /* margin-bottom: 30px; */
}

.anons h2.date {
  margin: 0 !important;
}

.anons_text {
  /* min-height: 300px; */
  /* margin-top: 20px; */
  /* width: 380px; */
  width: 100%;
}

.anons_text p,
.footer_text p,
.pause p {
  margin: 0 0 1rem;
  font-family: "mow5";
  color: #b3683a;
}

.map_sub {
  transform: rotate(4deg);
  /* margin: 0 0 0 130px !important; */
  font-family: mow1;
  color: #e1834a !important;
  font-size: 2rem !important;
  line-height: 120%;
  position: relative;
  top: 1rem;
  text-align: right;
  margin-right: 2rem;
}

.map {
  /* float: right; */
  width: 100%;
  /* text-align: center; */
  /* padding-left: 20px; */
  /* margin-bottom: 30px; */
}

.map p.titt {
  transform: rotate(5deg);
  margin-left: 4rem;
}

img.imm {
  height: 250px;
  width: 250px !important;
  position: absolute !important;
  top: -6rem;
  right: -3rem;
  /* z-index: 10; */
  /* margin: -85px 0 0 -304px !important; */
}

.map_img img {
  width: 100%;
  height: auto;
  transform: rotate(5deg);
}

.map_only,
.pause {
  width: 100%;
  padding: 0 20%;
  margin: 15px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.map_only p.titt,
.pause p {
  width: 80%;
  margin-bottom: 10px;
}

.map_only img.imm,
.pause img.imm {
  width: auto !important;
  height: 70px;
  max-width: 20% !important;
  margin: 0 15px 0 0 !important;
  float: left !important;
  position: relative !important;
}

.map_only p {
  transform: rotate(0deg) !important;
}

.map_only .map_img img {
  transform: none;
  width: 400px !important;
}

div.actors {
  text-align: center;
  border-top: 5px dashed #a16d568a;
  border-bottom: 5px dashed #a16d568a;
  padding: 18px 90px;
  margin: 1rem 0;
  transform: rotate(1deg);
}

.players > li,
.npc > li {
  display: inline-block;
  margin-right: 0.3em;
  font-weight: bold;
}

.chapter li {
  font-family: mow4;
}

.chapter span.speech,
.dop_img p,
.chapter > p:not([class]),
.paper {
  color: var(--text-color);
  font-family: "mow6";
  font-weight: normal;
}

.say > .player {
  font-family: mow4;
}

.emote {
  color: var(--emote);
  text-transform: none;
  font-family: "mow6";
}

p.story .speech {
  color: var(--emote) !important;
  font-weight: 700;
  font-family: "mow6";
  font-style: italic;
}

.yell span.speech {
  color: var(--red) !important;
  font-weight: bold;
  text-transform: uppercase;
}

.yell .player {
  font-weight: bold;
}

.content > .mia {
  padding-left: 28%;
  height: 170px;
  background: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/af2b6272a0826c20.png?v=1707755644976)
    no-repeat;
  background-position-x: 19%;
}

.content > .mia ~ .mia {
  background: none;
  height: auto;
  padding: 0;
  margin-top: 15px;
}

p.mia {
  margin-left: 30px;
  margin-bottom: 0px;
}

.record {
  background: #faecca6b;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  width: fit-content;
  margin-bottom: 0.5rem;
}

.record p {
  font-family: mow7;
  color: #9f8473;
  display: flex;
  align-items: center;
}

.record p span {
  font-family: "mow3";
  color: #312f2d;
  margin: 0 1rem;
}

.transcript .speech,
.paper .speech {
  font-family: "mow5";

  color: var(--text-color);
  display: block;
}

.mia_img_tr {
  margin-left: 30% !important;
  margin-top: -149px !important;
}

.mia_img_tit {
  padding-left: 28% !important;
  height: 170px !important;
  background: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/af2b6272a0826c20.png?v=1707755644976)
    no-repeat !important;
  background-position-x: 19% !important;
}

.paper.logline.say.selected .speech {
  display: inline;
}

.hint {
  color: #394179;
  cursor: pointer;
  font-weight: bold;
  font-family: "mow6";
  margin-bottom: 10px;
  display: inline-block;
}

.hint:hover {
  color: #f16565;
}

.hint:hover > .text,
hint > .text:hover {
  visibility: visible;
}

.hint .text p {
  color: #41301b;
  font-family: "mow6";
  margin-bottom: 10px;
}

.hint .text h6 {
  font-family: mow2;
  font-weight: 300;
  color: #e1834a;
  margin-bottom: 15px;
}

.hint > .text {
  position: absolute;
  min-width: 40em;
  transition: all 0.3s;
  visibility: hidden;
  padding: 1rem;
  color: #8b3f10;
  z-index: 1;
  cursor: initial;
  box-shadow: var(--shadow);
  font-weight: normal;
  max-width: 700px;
  background: #f5e5c7 !important;
  border: 3px solid #cf6920;
  box-shadow: 0 0 4px 0px #9350208a !important;
  padding: 15px;
}

.hint > .text img {
  width: 100%;
  margin: 10px 0 !important;
}

.footer_paper .col-md-12 .info-list {
  margin: 15px -70px;
  transform: rotate(1deg);
}

.footer_paper {
  justify-content: flex-end;
  margin: 20px 0 0 0;
}

.footer_text {
  /* width: 80%; */
  text-align: right;
  margin-top: 20px;
  height: fit-content;
}

.dop_img {
  min-height: 250px;
  width: 250px;
  float: right;
  padding: 15px;
  text-align: center;
  margin: 15px -55px 15px 15px;
  border: 5px dashed #dd9050;
}

.dop_img img {
  margin: 15px 0 !important;
  transform: rotate(357deg);
  max-height: 210px;
  width: auto !important;
}

.dop_img p {
  text-align: center;
}

.dop_img.left {
  float: left;
  margin: 15px 15px 15px -55px;
}

.chapter u {
  text-decoration: none;
  border-bottom: 3px dashed #dd9050;
}

.pause {
  width: 100%;
  padding: 0 5%;
  text-align: left;
  margin: 35px 0;
}

.map_img.two {
  position: relative;
  top: 43px;
  transform: rotate(333deg) scale(0.8);
  left: -280px;
}

.map_img.three {
  position: relative;
  top: -540px;
  left: 20px;
  transform: rotate(-16deg);
}

.col-sm-2 {
  position: absolute;
  top: 576px;
  right: 395px;
}

h2.date span.title {
  display: block;
  width: 460px;
}

.paper.img.three {
  width: fit-content;
}

.paper.img.two {
  width: fit-content;
  position: relative;
  transform: scale(0.6) rotate(-34deg) scaleX(-1);
  bottom: 302px;
  left: 320px;
  background: none;
}

.paper.img.three {
  transform: rotate(-23deg) scale(0.9);
  position: absolute;
  left: -96px;
  top: -13px;
  z-index: 20;
  background: none;
}

.paper.img.one {
  transform: rotate(-67deg) scale(1.2);
  width: fit-content;
  height: fit-content;
  position: relative;
  left: 188px;
  top: 79px;
  background: none;
}

.paper.img.one img {
  object-fit: cover;
  width: 520px;
  height: 420px;
}

.wrapper.one {
  height: 749px;
  width: 100%;
  margin-top: 119px;
  margin-bottom: -120px;
  position: relative;
  z-index: 0;
}

.paper.img.left {
  width: fit-content;
  float: left;
  margin-right: -1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* transform: rotate(-5deg); */
  text-align: right;
  position: relative;
  left: -5rem;
  background: 0;
  z-index: 2;
}

.paper.img.right {
  float: right;
  transform: rotate(-5deg);
  background: none;
  margin-left: -5rem;
  margin-top: 1rem;
  text-align: right;
  position: relative;
  max-width: 50%;
  z-index: 2;
  position: relative;
  left: 7rem;
}

.wp-block.default.no-border.binded-chars {
  height: 170px;
}

.wp-block.default.no-border.binded-chars h2 {
  display: none;
}

.emote > span.speech {
  font-style: normal;
  font-weight: 100;
}

.col-md-12 {
  height: fit-content;
}

.footer_paper {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 498px;
}

h2.article-title {
  display: none !important;
}

p.logline {
  margin: 0.5rem 0;
  color: var(--emote);
  font-family: "mow6";
}

.paper.say:nth-of-type(2n) {
  transform: rotate(-2deg) !important;
}

.yell .say {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--red);
}

.mia_img_tr {
  margin-left: 30% !important;
  margin-top: -140px !important;
}

.paper,
.transcript {
  border-image-source: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/%D0%BE%D0%B1%D1%80%D1%8B%D0%B2%D0%BE%D0%BA2.png?v=1708321338084);
  border-image-slice: 30 30 30;
  border-image-repeat: stretch repeat;
  border-image-width: 20px 20px 20px;
  padding: 2rem;
  background: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/404c4184-6fff-4117-92c2-8f62f73b9ce1_scroll_middle_52.jpg?v=1708321337238) !important;
  border-image-outset: 13px !important;
  /* z-index: 1; */
  /* position: relative; */
  text-shadow: none;
  box-shadow: none;
  transform: rotate(3deg);
  /* margin-bottom: 4rem; */
  /* margin-top: 4rem; */
  margin: 2rem 0;
}

.paper:not(.img) {
  border-image-source: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/%D0%BE%D0%B1%D1%80%D1%8B%D0%B2%D0%BE%D0%BA2.png?v=1708321338084);
  border-image-slice: 30 30 30;
  border-image-repeat: stretch repeat;
  border-image-width: 20px 20px 20px;
  padding: 2rem;
  background: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/404c4184-6fff-4117-92c2-8f62f73b9ce1_scroll_middle_52.jpg?v=1708321337238) !important;
  border-image-outset: 13px !important;
  margin: 2rem 0 !important;
  box-shadow: none;
  text-shadow: none;
  color: var(--text-color);
}

.post {
  font-size: 1.2rem;
}

.map {
  /* transform: scale(1) rotate(-53deg); */
  position: relative;
  margin-bottom: -7rem;
  /* top: -25.700000000000003rem; */
  /* left: 16.700000000000003rem; */
}

div {
  overflow: visible !important;
}

body {
  --text-color: #795548;
  --text-shadow: 1px 1px black;
}

.post > div > div {
  background: none !important;
  border-image: none !important;
}

.body-bg-8,
body {
  background-image: url(https://cdn.glitch.global/078c0e73-66e5-4061-a137-9051a9c81f26/Untit%D0%BC%D0%B8%D0%BC%D0%B2%D1%8Bled-1.png?v=1707976770609) !important;
  background-size: 50% !important;
  background-repeat: repeat !important;
  background-color: #c97744 !important;
}

span.say {
  color: var(--text-color);
}

.player {
  text-shadow: 1px 1px 2px #3d2513;
}

.emote > .player {
  text-shadow: 0 0 BLACK;
}

span.column {
  margin-right: 0.2rem;
}

h2.date > span {
  color: wheat!important;
}

#chatlog > .chapter > h2.date > span.title {
  /* line-height: 50%; */
  width: 100%;
}

.paper .say {
  text-shadow: none;
}

.paper + .transcript {
  /* margin-top: -5rem; */
}

.rleft {
  /* transform: rotate(-3deg); */
}

.paper.img + .paper.img {
  margin-top: -6rem;
  transform: rotate(-3deg);
}

div#comment-tree {
  padding: 0 1rem;
}

.col-sm-2 {
  top: 2rem;
  right: 0rem;
}

.binded-chars .wp-block-body {
  left: 0;
  top: 0;
  text-align: left;
}

.map {
  margin-top: 8rem !important;
  margin-bottom: -4rem !important;
}

.post h2.article-title {
  display: block !important;
  width: 100%;
  margin-bottom: 0 !important;
}

.binded-chars > .wp-block-body {
  margin: 0;
}

.binded-chars {
  height: fit-content !important;
  margin: 0 !important;
}

.col-sm-2 {
  top: 8.2rem;
}

.paper.img {
  clear: both;
}

.rleft {
  transform: rotate(-3deg)!important;
}

.totalduration > h2 {
  font-family: 'mow2';
  color: white!important;
}

.paper.rleft {
  margin: 4rem 0!important;
}

.rright {
  transform: rotate(5deg)!important;
}

.rcenter {transform: rotate(1deg);}

.transcript > .paper.img {
    margin: 0;
    margin-top: -2rem;
    margin-bottom: 2rem;
    position: relative;
    left: 3rem;
    transform: rotate(5deg);
}

.paper p.logline {
    margin: 0rem 0;
}

.content > .paper.img:not(.right, .left) {
    width: 130%;
    position: relative;
    left: -15%;
    transform: rotate(356deg);
    margin: 4rem 0;
}

.rcenter {transform: rotate(1deg);}

.transcript > .paper.img {
    margin: 0;
    margin-top: -2rem;
    margin-bottom: 2rem;
    position: relative;
    left: 3rem;
    transform: rotate(5deg);
}

.paper p.logline {
    margin: 0rem 0;
}

.content > .paper.img:not(.right, .left) {
    width: 130%;
    position: relative;
    left: -15%;
    transform: rotate(356deg);
    margin: 4rem 0;
}

.paper > .paper {
  box-shadow: 0 0 20px 20px #00000033;
}

body {
--link: var(--orange);
}

