.rcenter {transform: rotate(1deg);}

.transcript > .paper.img {
    margin: 0;
    margin-top: -2rem;
    margin-bottom: 2rem;
    position: relative;
    left: 3rem;
    transform: rotate(5deg);
}

.paper p.logline {
    margin: 0rem 0;
}

.content > .paper.img:not(.right, .left) {
    width: 130%;
    position: relative;
    left: -15%;
    transform: rotate(356deg);
    margin: 4rem 0;
}