

.start_wrap {
  background: green!important;
  opacity: 1!important;
  filter: none!important;
}

.finish_wrap {
  background: red!important;
}

.virt > .emote,
.whisper {
  color: var(--whisper) !important;
}

.content > .logline:not(.selected, .paper, :hover, .remove) {
  opacity: 0.5;
  filter: saturate(0);
}

.virt {
  color: var(--whisper);
}